body {
  max-width: 50em;
  font-family: "Arial", sans-serif;
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #fff4e3;
}

#html-day-banner {
  border: 0.2em solid lime;
  background-color: white;
  padding: 0.5em;
}
