body {
  background-color: lightpink;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-left: 0;
  padding-top: 1em;
}

li {
  list-style: none;
  border-style: solid;
  padding: 0.5em;
  border-radius: 0.5em;
  border-color: white;
}

li {
  background-color: aqua;
}

li li {
  background-color: yellow;
}

li li li {
  background-color: greenyellow;
}

li li li li {
  background-color: springgreen;
}

li > a {
  color: black;
}

li > a:visited {
  color: darkblue;
}

summary {
  cursor: pointer;
}

summary:hover {
  text-decoration: underline dashed;
}
